header {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header-section-left {
    width: 500px;
}

.text-header {
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.312px;
    margin-bottom: 32px;
}


.text-paragraf{
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.408px;
    margin-bottom: 48px;
}


.btn-group-header{
    display: flex;
    gap: 35px;
    margin-bottom: 40px;
}


.text-number-folowers{
    display: flex;
    gap: 40px;
}

.text-all{
    display: flex;
    align-items: center;
    gap: 10px;
}





.car-image{
    width: 100%;
    /* margin-left: 50px; */
}